@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Ubuntu, sans-serif;
}

a, .link {
  color: #ac1201;
  text-decoration: none;
  border-bottom: dotted 1px rgba(172, 18, 1, 0.3);
}

a:hover, .link:hover {
    color: #e53b01;
    border-bottom: solid 1px rgba(229, 59, 1, 0.5);
}

/* mark external links with a curved arrow - see http://underscorebleach.net/jotsheet/2004/12/offsite-external-links-css-attribute-selectors */
a[href^="http"]:after {
  content: "\2009\219D";
  font-size: xx-small;
}
a[href^="https://jakjeti.cz"]:after,
a[href^="https://www.jakjeti.cz"]:after,
a[href^="http://127.0.0.1"]:after {
  content: "";
}

ul {
  list-style: disc;
  margin: 1rem 0;
}

ul > li {
  margin-left: 1rem;
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4 {
  color: #4a3506;
  font-weight: bold;
}

details summary.link, details summary.link:hover {
  border-bottom: none;
}
